<div class="header-wrapper" fxLayout="row" fxLayoutAlign="space-around center">
        <div class="header-left-part" fxLayout="row" fxLayoutAlign="space-around center"></div>
        <div class="header-right-part" fxLayout="row" fxLayoutAlign="space-around center" fxLayout.lt-md="column">
            <div class="header-item">Home</div>
            <div class="header-item">About me</div>
            <div class="header-item">Contact</div>
            <div class="header-item">Media</div>
        </div>
    </div>