body {
  background: transparent;
}

.header-wrapper {
    width: 100%;
    height: 15%;
    color: rgb(221, 174, 174);
    font-weight: 600;
    font-size: 18px;
}

.header-left-part {
    width: 50%;
}

.header-right-part {
    width: 50%;
}

.header-item:hover {
    text-decoration: underline;
    color: rgba(64, 108, 251, 90%);
}