<div class="background-photo">
    <div fxLayout="row" fxLayoutAlign="space-around center" style="height: 100%;" fxLayout.lt-md="column">
        <div class="left-part" fxFlex="50" fxLayoutAlign="center center">
                <div class="text" [ngStyle.lt-md]= "{ 'width.%': 100 }"> 
                    <h1 (mouseenter)="mouseHover($event)" (mouseleave)="mouseLeave($event)"
                    [ngStyle]="{ 'color': isHover ? 'black' : 'rgba(225, 242, 245, 60%)' }">About us</h1>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi praesentium perferendis quos
                        recusandae voluptate explicabo illo blanditiis iure repudiandae. Ex voluptatum iure soluta
                        placeat.
                        Sint facilis delectus animi ex debitis.</p>
                </div>
        </div>
        <div class="right-part" fxFlex="50" fxLayoutAlign="center center">
        <div class="text" [ngStyle.lt-md]= "{ 'width.%': 100 }">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum,
            adipisci molestiae
            earum quibusdam beatae, quae quod blanditiis voluptatibus saepe nisi facilis qui natus praesentium nihil?
            Provident dicta dolorum quis enim.</p>
            </div>
            </div>
    </div>
</div>