.first-image-container {
  background-image: url("../../assets/photos/pexels-normal-blue.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
  position: relative;
  background-attachment: fixed;
}

.transparent-background-container {
  height: 80%;
}

.transparent-background {
  width: 70%;
  height: 90%;
  transition: background 2s;

  h1 {
    font-size: 80px;
    color: rgba(35, 114, 215, 90%);
    transition: color 2s;
  }
}

.headlines-container {
  height: 100%;

  h1 {
    font-weight: 500;
  }
}

.blue-transparent {
  background-color: rgba(3, 27, 66, 80%);
  border: solid 1px rgba(1, 7, 23, 80%);
}

.peach-transparent {
  background-color: rgba(254, 165, 135, 60%);
  height: 70%;
  width: 60%;
  position: absolute;
  left: 465px;
  top: 85px;

  h1 {
    color: rgb(250, 250, 210);
  }

  p {
    color: white;
    margin: 0 40px;
  }
}

.peach-transparent-background-container {
  height: 100%;
}

.peach-transparent-background-container:hover {
  background: rgba(254, 165, 135, 50%);
}

.text-container {
  height: 50%;
}

.text {
  height: 60%;
  position: relative;
  background-attachment: fixed;
  width: 70%;
}

.second-image-wrapper {
  width: 100%;
  height: 60%;
}

.second-image-container {
  background-image: url("../../assets/photos/jellyfish-small.jpg");
  width: 50%;
  height: 100%;
  position: relative;
  background-attachment: fixed;
}
.third-image-container {
  background-image: url("../../assets/photos/pexels-normal.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
  position: relative;
  background-attachment: fixed;
}

.transparent-square-wrapper {
  height: 100%;
  width: 100%;
}

.transparent-square-container {
  height: 50%;
  width: 85%;
}

.transparent-square {
  width: 30%;
  height: 70%;
}

// .first-column-color {
//   background-color: rgba(15, 141, 189, 70%);
// }

.first-column-color {
  background-color: rgba(11, 103, 138, 70%);
}

.second-column-color {
  background-color: rgba(7, 72, 97, 70%);
}

.third-column-color {
  background-color: rgba(5, 49, 65, 70%);
}

.pop-up-text {
  width: 100%;
  height: 100%;
  .text2 {
    visibility: hidden;
  }
  &:hover {
    .text2 {
      visibility: visible;
    }
  }
}
