html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.mat-menu-panel {
  .mat-menu-content {
    background-color: rgba(231, 230, 255);
    a {
      color: rgb(2, 3, 20);
      margin: 10px;
    }
  }
}
