<app-restaurant-header></app-restaurant-header>
<div class="menu-container" fxLayout="row" fxLayoutAlign="space-around center">
    <div class="menu-wrapper" fxLayout="column" fxLayoutAlign="space-around center">
        <h1 fxLayout="row" fxLayoutAlign="space-around center" [ngStyle.lt-md]="{ 'width': 'auto', 'font-size.px': 45 }">- Menu -</h1>
        <div class="menu-item" fxLayout="column" fxLayoutAlign="center center">
            <span>- Ravioli -</span>
            <span>basil, garlic, ricotta, tomatos</span>
            <span>$12</span>
        </div>
        <div class="menu-item" fxLayout="column" fxLayoutAlign="center center" >
            <span>- Pizza -</span>
            <span>basil, garlic, ricotta, tomatos</span>
            <span>$8</span>
        </div>
        <div class="menu-item" fxLayout="column" fxLayoutAlign="center center" >
            <span>- Ravioli -</span>
            <span>basil, garlic, ricotta, tomatos</span>
            <span>$12</span>
        </div>
        <div class="menu-item" fxLayout="column" fxLayoutAlign="center center" >
            <span>- Ravioli -</span>
            <span>basil, garlic, ricotta, tomatos</span>
            <span>$12</span>
        </div>
    </div>
</div>